@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282c34;
  border-radius: 10px;
}

i {
  cursor: pointer;
}
i:hover {
  color: #80F;
  font-size: 20px;
}


/* loader animation */
.azadeh{
  animation: azadeh 1s infinite;
}
@keyframes azadeh{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 0.4;
  }
}


.fullstack{
  animation: fullstack 1s infinite;
}
@keyframes fullstack{
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
  }
}


.developer{
  animation: developer 1s infinite;
}
@keyframes developer{
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 1;
  }
}